/freq/project_1/user_data/backtest_results
/freq/project_2/user_data/backtest_results
/freq/userdir/models
/freq/userdir/user_data/backtest_results
events.out.tfevents.*
*.ckpt
/freq/project_1/ml/lightning_logs
*.pyc
/allah/stuff/web/alt_calculator
/freq/project_2/labeled_data/lstm_data/