# Binance API credentials
# Replace with your actual API keys
BINANCE_API_KEY=ofQzX3gGAKS777NyYIovAy1XyqLzGC2UJPMh9jqIYEfieFRy3DCkZJl15VYA2zXo
BINANCE_API_SECRET=QVJpTFgHIEv74LmCT5clX8o1zAFEEqJqKpg2ePklObM1Ybv9iKNe8jvM7MRjoz07

# Trading parameters
# You can customize these settings
DEFAULT_SYMBOL=BTC/USDT
POSITION_SIZE_PERCENT=10 